{% extends 'base.html' %}

{% block title %}Followers{% endblock %}

{% block content %}

{% for f in user.followers %}

    <div class="col-lg-4 col-md-6 col-12">
        <div class="card user-card">
          <div class="card-inner">
            <div class="card-contents">
              <a href="/users/{{ follower.id }}/profile" class="card-link">
                <img src="{{ follower.image_url }}" alt="Image for {{ follower.username }}" class="card-image">
                <p>{{ follower.username }}</p>
              </a>
              {% if g.user.is_following(follower) %}
                  <button class="btn btn-primary btn-sm unfollow-btn">Unfollow</button>
              {% else %}
                  <button class="btn btn-outline-primary btn-sm follow-btn">Follow</button>
              {% endif %}

            </div>
          </div>
        </div>
      </div>

{% endfor %}

{% endblock %}