{% extends 'base.html' %}

{% block title %}Followers{% endblock %}

{% block content %}
<h1>Followers:</h1>
{% for follower in user.followers %}
<div class="card user-card">
  <a href="/users/{{follower.id}}/profile">
    <img src="{{follower.image_url}}" class="card-img-top" alt="...">
  </a>
  <div class="card-body">
    <h5 class="card-title">{{follower.username}}</h5>
    <a class="btn btn-primary" href="/users/{{follower.id}}/profile">Profile</a>
    {% if g.user %}
    {% if g.user != follower %}
    {% if g.user.is_following(user) %}
    <button id="{{follower.id}}" class="btn btn-outline-primary follow-btn">Unfollow</button>
    {% else %}
    <button id="{{follower.id}}" class="btn btn-outline-primary follow-btn">Follow</button>
    {% endif %}
    {% endif %}
    {% endif %}
  </div>
</div>
{% endfor %}

{% endblock %}