{% extends 'nav-base.html' %}
{% block body %}
<ul class="list-group jokes-list">
    {% if num_jokes == 0 %}
    <li class="list-group-item">
        <div class="card">
            <div class="card-body my-5">
                <p class="card-text text-center text-muted">
                    User hasn't uploaded any jokes yet.
                </p>
            </div>
        </div>
    </li>
    {% endif %}
    {% for joke in user.jokes %}
    {% if joke.id not in g.user.blocked_jokes %}
    <li class="list-group-item"> 
    <div class="card" id="{{joke.id}}">
        <div class="card-body row">
            <h5 class="card-title col-10">
                {% if user != g.user %}
                <button class="btn p-0 mb-1 fav-btn">
                    {% if joke in g.user.favorites %}
                    <i class="fas fa-star" id="{{joke.id}}-star"></i>
                    {% else %}
                    <i class="far fa-star" id="{{joke.id}}-star"></i>
                    {% endif %}
                </button>
                {% endif %}
                 {{joke.setup}}</h5>
            <span class="col-1">
                <button class="btn mr-1 p-0 d-inline report" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-flag"></i>
                </button>
                <ul class="dropdown-menu report-list" id="{{joke.id}}-report" aria-labelledby="dropdownMenuButton2">
                    <li>
                        <button class="naj dropdown-item report-btn">Not A Joke</button>
                    </li>
                    <li>
                        <button class="spam dropdown-item report-btn">Spam</button>
                    </li>
                    <li>
                        <button class="other dropdown-item report-btn">Other</button>
                    </li>
                </ul>
            </span>
            {% if joke.user == g.user %}
            <span class="col-1">
                <button class="btn mr-2 p-0 d-inline" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="/jokes/{{joke.id}}/edit">Edit Joke</a>
                    </li>
                    <li>
                        <button class="delete-btn dropdown-item">Delete Joke</button>
                    </li>
                  </ul>
            </span>
            {% endif %}
            {% if joke.body %}
            <p class="card-text">{{joke.body}}</p>
            {% endif %}
            <footer class="blockquote-footer">By    
                <cite>
                    <a href="/users/{{joke.user.id}}" class="card-link">
                        {{joke.user.username}}
                    </a>
                </cite>
            </footer>      
            <p class="mt-3 d-flex">
                {% if g.user %}
                <span>
                    <button class="btn uprate-btn">
                        <i class="fas fa-plus"></i>
                    </button>
                </span>
                {% endif %}
                <span class="pt-2">{{joke.calculate_rating()}}</span>
                {% if g.user %}
                <span>
                    <button class="btn downrate-btn">
                        <i class="fas fa-minus"></i>
                    </button>
                </span>
                {% endif %}
            </p>
            <footer class="card-footer">Created: {{joke.get_date()}}</footer>
        </div>
    </div>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
{% endblock %}