{% extends 'base.html' %}

{% block title %}Add Joke{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="join-message">Edit Joke</h2>
    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
        <div>
            {{form.setup.label}}
            {{form.setup(class_="form-control", value=joke.setup)}}
            <div id="flavor_div" style="display: none;" class="text-danger">
                Input Required.
            </div>
        </div>
        <div>
            {{form.body.label}}
            {{form.body(class_="form-control", rows="10")}}
            <div id="size_div" style="display: none;" class="text-danger">
                Input Required.
            </div>
        </div>

      <button class="btn btn-primary btn-lg btn-block">Save</button>
    </form>
  </div>
</div>

{% endblock %}