{% extends 'base.html' %}

{% block title %}Favoite Jokes{% endblock %}

{% block content %}
{% if not user.favorites %}
<div class="card no-favs-card">
    <div class="card-body no-joke">
        <h5 class="card-title text-center">
            {% if user == g.user %}
            Looks like you haven't favorited anything yet. Go out and favorite jokes and they'll end up here.
            {% else %}
            Looks like this user hasn't favorited anything yet. Come back later and see if they do.
            {% endif %}
       </h5>
    </div>
</div>
{% endif %}
<ul class="list-group jokes-list">
{% for joke in user.favorites %}
<li class="list-group-item"> 
<div class="card" id="{{joke.id}}">
    <div class="card-header row">
        <div class="header-right col-2">
            {% if g.user %}
            <button class="btn p-0 mb-1 fav-btn">
                {% if joke in g.user.favorites %}
                <i class="fas fa-star" id="{{joke.id}}-star"></i>
                {% else %}
                <i class="far fa-star" id="{{joke.id}}-star"></i>
                {% endif %}
            </button>
            {% endif %}
            <a href="/users/{{joke.user.id}}/profile" class="card-link">
                {{joke.user.username}}
            </a> 
        </div>
        <div class="header-left col-10">
            <div class="left-items">
            <span><cite>
                {{joke.get_date()}}
            </cite></span>
            <span class="col-1">
                <button class="btn mr-1 p-0 d-inline report-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Report User">
                    <i class="fas fa-flag"></i>
                </button>
            </span>
            {% if joke.user == g.user %}
            <span class="info-btn">
                <button class="btn mr-2 p-0 d-inline" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="/jokes/{{joke.id}}/edit">Edit Joke</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/jokes/{{joke.id}}/delete">Delete Joke</a>
                    </li>
                  </ul>
            </span>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body row">
        <h5 class="card-title col-10">
             {{joke.setup}}
        </h5>
        {% if joke.body %}
        <p class="card-text">{{joke.body}}</p>
        {% endif %}     
        <p class="mt-3 d-flex">
            {% if g.user %}
            <span>
                <button class="btn uprate-btn">
                    <i class="fas fa-plus"></i>
                </button>
            </span>
            {% endif %}
            <span class="pt-2">{{joke.calculate_rating()}}</span>
            {% if g.user %}
            <span>
                <button class="btn downrate-btn">
                    <i class="fas fa-minus"></i>
                </button>
            </span>
            {% endif %}
        </p>
        
    </div>
</div>
</li>
{% endfor %}
</ul>
{% endblock %}